# udev rules to provide predictable names for USB devices used for 3D printing
#
# - Devices are identified by their USB vendor, product IDs and bcdDevice
#   - You can get these values from dmesg -LT, lsusb -v, udevadm info -a -p $(udevadm info -q path -n /dev/<device>) etc...
#   - Or even monitor udev events live with udevadm monitor --property --udev
# - Rules are added to /etc/udev/rules.d/99-3d-printer.rules
# - Reload the rules with sudo udevadm control --reload-rules
# - You can tests these rules with udevadm test /sys/class/usb/<device>
#
# One of the devices is a webcam, which is used to monitor the 3D printer
#
# The following rules are very specific because my server has many USB devices

# USB to Serial Adapter - This is part of the Ender 3 V2 printer
# Creates symlinks to /dev/3dprinter, /dev/3dprinter<num>, /dev/3dprinter-<driver>
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", ATTRS{bcdDevice}=="0264", MODE="0666", SYMLINK+="3dprinter"
# [1666765.402635] ch341-uart ttyUSB1: ch341-uart converter now disconnected from ttyUSB1
# [1666766.236698] usb 3-6.1: new full-speed USB device number 69 using xhci_hcd
# [1666766.327398] usb 3-6.1: New USB device found, idVendor=1a86, idProduct=7523, bcdDevice= 2.64
# [1666766.328583] usb 3-6.1: New USB device strings: Mfr=0, Product=2, SerialNumber=0
# [1666766.329719] usb 3-6.1: Product: USB Serial
# [1666766.340760] usb 3-6.1: ch341-uart converter now attached to ttyUSB1

# Logitech Webcam - This is used to monitor the 3D printer
# Creates symlink to /dev/webcam, /dev/webcam<num> and /dev/webcam-<driver>
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="082d", ATTRS{bcdDevice}=="0011", GROUP="video", SYMLINK+="webcam"
# [1670161.483338] usb 3-6.3: New USB device found, idVendor=046d, idProduct=082d, bcdDevice= 0.11
# [1670161.483935] usb 3-6.3: New USB device strings: Mfr=0, Product=2, SerialNumber=1
# [1670161.484493] usb 3-6.3: Product: HD Pro Webcam C920
# [1670161.485050] usb 3-6.3: SerialNumber: FB5BC4FF
# [1670161.486434] usb 3-6.3: Found UVC 1.00 device HD Pro Webcam C920 (046d:082d)
# [1670161.487914] input: HD Pro Webcam C920 as /devices/pci0000:00/0000:00:14.0/usb3/3-6/3-6.3/3-6.3:1.0/input/input17
