# /etc/systemd/system/cam_octoprint.service

[Unit]
Description=the OctoPi(buntu) ustreamer daemon with the user specified config
After=network.online.target
Wants=network.online.target

[Service]
User=octo
Nice=2
ExecStart=/home/octo/ustreamer/ustreamer -d /dev/cam_octoprint -s 0.0.0.0 -m MJPEG -r 1280x720 -f 15 -p 8002 --device-timeout 8 --device-error-delay 8 --workers 2 -c OMX --slowdown
[Install]
WantedBy=multi-user.target


# --drop-same-frames 30 disabled as uses CPU
