# ; --- Prusa Slicer START Gcode for Ender 3 v2 Neo ---
# ;--------
# ; KLIPPER
# M190 S0 ; Prevents prusaslicer from prepending m190 to the gcode ruining our macro
# M109 S0 ; Prevents prusaslicer from prepending m109 to the gcode ruining our macro
# START_PRINT BED_TEMP=[first_layer_bed_temperature] EXTRUDER_TEMP=[first_layer_temperature] AREA_START={first_layer_print_min[0]},{first_layer_print_min[1]} AREA_END={first_layer_print_max[0]},{first_layer_print_max[1]}
# ;--------

[gcode_macro START_PRINT]
gcode:
    #Get Bed, Extruder temperatures from Slicer GCode
    {% set BED_TEMP = params.BED_TEMP|default(70)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(205)|float %}

    ; Start pre-heating
    M140 S{BED_TEMP}      ; set Bed temp to target
    M104 S{EXTRUDER_TEMP} T0 ;	set Hotend temp

    ; Homing
    # G28 O ; Home all "untrusted" axes - had a print start mid air with this!
    G28 ; Home all axes
    BED_MESH_PROFILE LOAD=default ; Load the default mesh

    ; mesh print area only - TBC if this works well
    # PRINT_AREA_MESH_CALIBRATE AREA_START={params.AREA_START} AREA_END={params.AREA_END}

    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP-3} MAXIMUM={BED_TEMP+10}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP-5} MAXIMUM={EXTRUDER_TEMP+8}

    PRIME_NOZZLE ; Draw Nozzle Cleaning lines on the Left Side of Bed to prime the nozzle

    M117 "Printing..."

[gcode_macro END_PRINT]
gcode:
    G91 ;Relative positioning
    G1 E-2 F3000 ;Retract a bit
    G1 E-2 Z0.2 F3000 ;Retract and raise Z
    G1 X5 Y5 F3000 ;Wipe out

    ; Cooldown
    M104 S0 ;Turn-off hotend
    M140 S0 ;Turn-off bed
    M106 S0 ;Turn-off fan

    M117 Print Completed

    ; Present print
    G1 Z10 ;Raise Z more
    G90 ;Absolute positioning
    G1 F2500; Set speed to 2500mm/min
    G0 X0 Y234 F2500 ; Present print

    ; Power off motors
    M84 X Y E ;Disable all steppers but Z

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}


[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  G1 E-2 F4000 ; Retract
  TURN_OFF_HEATERS
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z4.5 F300
    G90
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}
    G28 X Y
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    G1 Y{y_park} F2000
    M84
  CANCEL_PRINT_BASE


[gcode_macro PRIME_NOZZLE]
description: Primes the nozzle and extruder for printing
gcode:
    #Get Printer built volume dimensions
    {% set X_MAX = printer.toolhead.axis_maximum.x|default(220)|float %}
    {% set Y_MAX = printer.toolhead.axis_maximum.y|default(220)|float %}
    {% set Z_MAX = printer.toolhead.axis_maximum.z|default(240)|float %}

    #Get Nozzle diameter and filament width for conditioning
    {% set NOZZLE = printer.extruder.nozzle_diameter|default(0.6)|float %}
    {% set FILADIA = printer.extruder.filament_diameter|default(1.75)|float %}

    #Set Start coordinates of priming lines
    {% set X_START = 5|default(5.0)|float %}
    {% set Y_START = 10|default(10.0)|float %}

    #Calculate Primer line extrusion volume and filament length
    {% set PRIMER_WIDTH = 0.75 * NOZZLE %}
    {% set PRIMER_HEIGHT = 0.70 * NOZZLE %}
    {% set PRIMER_SECT = PRIMER_WIDTH * PRIMER_HEIGHT %}
    {% set PRIMER_VOL = PRIMER_SECT * (X_MAX - 3 * X_START) %}
    {% set FILA_SECT = 3.1415 * ( FILADIA / 2.0)**2 %}
    {% set FILA_LENGTH = 1.55 * PRIMER_VOL / FILA_SECT %}
    {% set FILAMENT_TYPE = params.FILAMENT|default(PLA)|string %}

    M117 Priming Nozzle...
    # Prime nozzle

    G1 Z0.28 F240
    G92 E0
    G1 Y140 E10 F1500 ; prime the nozzle
    G1 X2.3 F5000
    G92 E0
    G1 Y10 E10 F1200 ; prime the nozzle
    G92 E0

    M117 Preconditioning Extruder...
    #Precondition extruder
    G92 E0
    G1 X{X_START} Y{Y_START} Z{PRIMER_HEIGHT} F6000.0
    G1 X{X_MAX - 2 * X_START} Y{Y_START} Z{PRIMER_HEIGHT} F2000.0
    G1 X{X_MAX - 2 * X_START} Y{Y_START + PRIMER_WIDTH} Z{PRIMER_HEIGHT}
    G1 X{X_START} Y{Y_START + PRIMER_WIDTH} Z{PRIMER_HEIGHT} F2000.0
    G92 E0
    G1 Z2.0 F600
    G1 Z0.2 F600
    G1 Z2.0 F600
    G1 Z0.2 F600
    G1 Z5.0 F600
